
.chat-header, .chat-footer {
   background-color: #121212;
 }
 
 .chat-messages {
   background-color: #181818;
   height: calc(100vh - 5.4rem - 148px);
   overflow-y: auto; 
 }

 .chat-warning{
   height: calc(100vh - 148px);
   overflow-y: auto; 
 }
 
 .chat-messages::-webkit-scrollbar {
   width: 8px;
 }
 
 .chat-messages::-webkit-scrollbar-track {
   background: #121212; 
 }
 
 .chat-messages::-webkit-scrollbar-thumb {
   background-color: #3a3a3a; 
   border-radius: 10px; 
   border: 2px solid #121212; 
 }
 
 .chat-messages::-webkit-scrollbar-thumb:hover {
   background-color: #555; 
 }
 
.chat-input {
   background-color: #181818;
   border: none;
   color: white;
 }
 
 .chat-input:focus {
   background-color: #181818; 
   color: white; 
   box-shadow: none; 
   outline: none; 
 }
 
 .chat-input::placeholder {
   color: #bbb; 
 }
 
 .chat-footer {
   position: sticky;
   bottom: 0;
   width: 100%;
 }
 
 .chat-footer .btn {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 6px 12px;
 }
 
 .chat-footer .btn i {
   margin-right: 5px;
 }