.fade-in {
   animation: fadeIn;
   transition: 2s;
}

@keyframes fadeIn {
   0% { 
      opacity: 0;
   }
   100% { opacity: 1;}
}

.text-check-btn {
   color: black;
   vertical-align: top;
}
.checkBox {
   width: 15px;
}