
.list-group-item {
   color: rgb(161, 161, 161);
   background-color: #121212; 
   border: none; 
 }
 
.list-group-item:hover {
   color: white; 
   background-color: #1e1e1e; 
 }
 
.list-group-item.active {
   color: white; 
   background-color: #1e1e1e;
 }